.slide-container {
    display: flex;
    color: white;
}
.slide-img {
    width:100%;
    height: 100%;
}

.post-swiper {
    width: 80%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next:after {
   color: white;
}
.swiper-button-prev:after {
    color: white;
}
.container { 
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.one {
  width: 100px;
  margin-left: 1000px;
}
.burron-container {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 205px;
  margin-bottom: 20px;
}