.post-container {
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  background-color: black;
  flex: 1 1 auto;
  margin: 5px 5px;
  position: relative;

  /* width: 50%; */
  /* overflow: hidden; */
  /* background: #2e5fa0; */
}
.post-text {
  color: white;
}
.post-container::beforre {
  content: '';
  display: block;
  padding-top: 100%;
}
.all-post-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.post-content {
  width: 100%;
  height: 100%;
}
h1 {
  color: white;
}
h2 {
  color: white;
  margin-left: 20px;
}
.cover {
  border-radius: 10%;
}
.cover-exit {
  opacity: 1;
}
.cover-exit-active {
  opacity: 0;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
.form-control {
  background-color: #fff; /* Фоновый цвет */
  border: 1px solid #ced4da; /* Граница */
  border-radius: 0.25rem; /* Скругление углов */
  font-size: 1rem; /* Размер шрифта */
  line-height: 1.5; /* Высота строки */
  padding: 0.375rem 0.75rem; /* Внутренние отступы */
  color: #495057; /* Цвет текста */
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out; /* Плавность перехода */

  width: 100%;
  box-shadow: none; /* Убираем тень */
}
.modal-button {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.add-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}


