.post-container {
    width: 200px;
    height: 200px;
     max-width: 200px;
    max-height: 200px;
    background-color: black;
    flex: 1 1 auto;
  margin: 5px 5px;
  position: relative; 
 
    /* width: 50%; */
    /* overflow: hidden; */
    /* background: #2e5fa0; */
}
.post-text {
    color: white
}
.post-container::beforre {
    content: "";
    display: block;
    padding-top: 100%;
}
.all-post-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.post-content {
    width: 100%;
    height: 100%;
    
}
h1 {
    color: white;
}
h2 {
    color: white;
    margin-left: 20px;
}
.cover {
    border-radius: 10%;
}
  .cover-exit  {
    opacity: 1;
  }
  .cover-exit-active {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  } 