.img {
  width: 30px;
  height: 30px;
}
.slide-container {
  display: flex;
  color: white;
}
.slide-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.swiper {
  width: 60%;
  height: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;

  display: block;
  justify-content: center;
  align-items: center;
}
.slide-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  /* Начальное состояние стилей текста */
  transition:
    transform 0.5s,
    color 0.5s; /* Плавный переход для трансформации и цвета */
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blur-image {
  filter: blur(7px);
}
.blur-image .post-text p {
  filter: blur(0px) !;
  z-index: 5;
}
.userAvatar {
  width: 200px;
  height: 250px;
}
.userAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.slide-title:hover {
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.1); /* Увеличение размера и 3D эффект при наведении */
  color: #ffd700; /* Изменение цвета текста при наведении */
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.7); /* Увеличенная тень для создания глубины */
}
/* Стили для стрелок навигации */
.swiper-button-next, .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5); /* Начальный цвет фона */
  color: #fff; /* Цвет иконки */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease; /* Плавный переход для анимации */
}

/* Стили при наведении */
.swiper-button-next:hover, .swiper-button-prev:hover {
  transform: scale(1.1); /* Увеличение размера */
  background-color: rgba(0, 0, 0, 0.8); /* Затемнение фона */
}

/* Опционально: добавление тени для создания эффекта "подъема" */
.swiper-button-next:hover, .swiper-button-prev:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Тень */
}
