.img {
  width: 30px;
  height: 30px;
}
.slide-container {
  display: flex;
  color: white;
}
.slide-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.swiper {
  width: 60%;
  height: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;

  display: block;
  justify-content: center;
  align-items: center;
}
.slide-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  transition:
    transform 0.5s,
    color 0.5s,
    font-weight 0.3s ease;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blur-image {
  filter: blur(7px);
}
.blur-image .post-text p {
  filter: blur(0px) !important;
  z-index: 5;
}
.userAvatar {
  width: 200px;
  height: 250px;
}
.userAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.slide-title:hover {
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.1); /* Увеличение размера и 3D эффект при наведении */
  color: #ffd700; /* Изменение цвета текста при наведении */
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.7); /* Увеличенная тень для создания глубины */
}

/* Интерактивность и динамические эффекты при наведении */
.swiper-slide button:hover .slide-img {
  filter: brightness(50%);
}

.swiper-slide button:hover .slide-title {
  transform: scale(2);
  font-weight: bold;
}

/* Стили для стрелок навигации */
.swiper-button-next,
.swiper-button-prev::after {
  background-color: none;
  color: #ed1515;
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease;
}

/* Стили для стрелок при клике */
.swiper-button-next:active,
.swiper-button-prev:active {
  color: #131212; /* Золотистый цвет для демонстрации */
}

/* Стили при наведении */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1); /* Увеличение размера */
}

/* Опционально: добавление тени для создания эффекта "подъема" */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
  background-color: none;
}

.cat-swiper {
  width: 90%;
}