body {
  background-color: black;
  font-family: 'inter', sans-serif;
}
@font-face {
  font-family: 'inter';
  src: url('../../../public/Inter-Bold.ttf');
}
.App {
  display: flex;
  flex-direction: column;

  height: auto;
}
.author {
  display: flex;
}



.access {
   position: absolute;
    margin: 20px;
 padding: 20px;
    flex-direction: column;
background-color: aliceblue;
z-index: 3;
}


.postInfo {
  display: flex;
}
.adminisration {
    display: flex;
flex-direction: column;}
