body {
    background-color: black;
    font-family: 'inter', sans-serif;
}
@font-face {
    font-family: 'inter';
    src: url('../../../public/Inter-Bold.ttf');
}
.App {
    display: flex;
    flex-direction: column;
   
    /* font-family: 'inter'; */
    
}
.author {
    display: flex;
}



.access {
   position: absolute;
    margin: 20px;
 padding: 20px;
    flex-direction: column;
background-color: aliceblue;
z-index: 3;
}


.postInfo {
    display: flex;
}
.adminisration {
    display: flex;
flex-direction: column;}


.addPostForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    left:40%;
    background-color: aliceblue;
    padding: 20px;
  align-items:center;
  justify-content: center;
  }
  .avatarAddForm{
    position: absolute;
    z-index: 4;
    left:40%;
    background-color: aliceblue;
    padding: 20px;
  }