/* Основные стили и шрифты */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap'); */

body, html {
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */
}

/* Стили для навбара */
.navigationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 20px; /* Добавленный отступ */
}

.logoWrapper {
  display: flex;
  align-items: center;
  margin-right: auto; /* Автоматический отступ справа */
}

.logo {
  font-weight: 700;
  color: #ea4c89;
  margin-left: 8px;
}


.productionText {
  cursor: pointer;
  margin-left: 2px;
  color: white;
  font-weight: 500;
  font-size: 18px;

}

.logo {
  color: #8924a8; /* Яркий цвет для части логотипа */
  margin-left: 8px;
}

.navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.parent {
  margin: 0 15px;
  position: relative;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}


.link:hover,
.link:focus {
  color: #8924a8; /* Подсветка при наведении */

}

/* Стили для модальных окон регистрации и входа */
button.link {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .navigation.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #222;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .logoWrapper {
    justify-content: center;
  }

  .productionText {
    display: none;
  }
}
