/* Основные стили и шрифты */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Стили для навбара */
.navigationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #222;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Полная ширина */
  box-sizing: border-box;
  position: fixed; /* Фиксированное положение */
  top: 0; /* Прикрепляем к верхней части экрана */
  left: 0; /* Растягиваем на всю ширину */
  z-index: 1000; /* Убедитесь, что навбар находится поверх других элементов */
}

.logoWrapper {
  margin-top: 4px;
  display: block;
  align-items: center;
}

.stylish,
.logo {
  font-weight: 700; /* Жирный шрифт для логотипа */
}

.logo {
  color: #ea4c89; /* Яркий цвет для части логотипа */
  margin-left: 8px;
}

.navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.parent {
  margin: 0 15px;
  position: relative;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover,
.link:focus {
  color: #ea4c89; /* Подсветка при наведении */
}

/* Стили для модальных окон регистрации и входа */
button.link {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

/* Стили для подменю (если потребуются) */
.subnavigation {
  display: none; /* Изначально скрыты */
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #333;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.parent.active .subnavigation {
  display: block; /* Показываем подменю для активного элемента */
}

.subnavigation li {
  padding: 5px 0;
}

.subnavigation a {
  color: white;
  text-decoration: none;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .navigation {
    display: none; /* Скрываем навигацию на мобильных */
  }

  .navigation.active {
    display: flex; /* Показываем при активации гамбургер-меню */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #222;
  }

  .hamburger {
    display: block; /* Показываем гамбургер-меню на мобильных */
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
}
